@import
:root {
--yellow: #f9ca24;  
} 
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;  padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none; 
    text-transform: none;
}
*::selection {
    background: var(--yellow); 
    color: #333
}
html{
font-size: 55%;

}
html::-webkit-scrollbar{
    width: 1.4rem; 
}
html::-webkit-scrollbar-track {
width: 1.4rem; 
}
html ::-webkit-scrollbar-track {
    background: yellow;
}
html ::-webkit-scrollbar-thumb {
    background:var(--yellow);
}
body {
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
.atu {
    background-color:green ;
    
}
header{
    position: flexed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 15rem;
    background: #1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
* ::selection{
    background: var (--yellow);
    color: #333;
}
html{
    font-size: 62.5;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background: #fff;
}
html::-webkit-scrollbar-thumb{
    background: var (var(--yellow));
}
body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 1rem;
}

.btn{
    padding: .6rem 2rem;
    background: #333;
    color: #fff;    
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i {
    padding: 0 .5rem ;
    font-size: 1.8rem;
}

.tbn :hover {
    background: var(--yellow);
}
.heading {
    text-align: center;
    margin-top:0 5rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.edu {
    color: yellow;
    font-size: 2rem;
    text-align: justify;
    margin-top: 2rem;
    line-height: 1.5;
    align-items: justify;
    justify-content: space-between;
    padding: .6rem 4rem;
    font-family: 'Times New Roman', Times, serif;
   }

header{
    position: fixed;
    top: 3; left: 0;
    z-index: 1000;
    height:100%;
    width: 27rem;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center
    ;
}
header .user img{
height: 17rem;
width: 17rem;
border-radius: 50%;
object-fit: cover;
margin-bottom: 2rem;

}

.logo {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    align-content: flex-start;
        }
header .user .name {
    font-size: 2.5rem;
    color: #f9ca24;
    margin-top: 1rem;
}

header .user .post {
    font-size: 1.5rem;
    color: #eee;
}
header .navbar {
    width: 100%;
    margin-bottom: 30rem;
    
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
    text-align: center;
}
header .navbar ul li a {
    display:  block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;   
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}
header .navbar ul li a:hover {
    background: var(--yellow);
}

#menu{
    position: fixed;
    top: 2rem; right: 2rem;
    background:  #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}














.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 15rem;
} 
.home h3 {
font-size: 3rem;
color:yellow;
font-family: 'Times New Roman', Times, serif
}
.home h1 {
    font-size: 1.5rem;
    color: white;
    align-items: left;
    margin-bottom: 2rem;
}
.home h1 span{
color: yellow;
}
   
.home p {
    font-size: 1.5rem ;
    color: #eee;
    padding: 1rem 0;
    box-shadow: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
    
}
.home .work {
        font-size: 3rem;
        color:#eee;
        padding: 1rem 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
}



}

.home .history {
    font-size: 3rem;
  color:#eee;
  padding: 1rem 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.home .work {
    font-size: 3rem;
    color:#eee;
    padding: 1rem 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.home .work .intro {
    font-size: 2rem;
    color:#eee;
    padding: 1rem 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    line-height: 2.5rem;
    margin:  2rem 2rem;
}


   
.staff .row .picture {
    height: 20rem;
    width: 20rem;
    border-radius: 10%;
    object-fit:fill;
    margin-bottom: 55rem;

}

.staff .row .pics {
    height: 20rem;
    width: 20rem;
    border-radius: 10%;
    object-fit:fill;
    margin-bottom: 100%;
}  
.staff .row .pic {
    height: 20rem;
    width: 20rem;
    border-radius: 10%;
    object-fit:fill;
    margin-bottom: 78rem;

}

.staff .row .pict {
height: 20rem;
width: 20rem;
border-radius: 10%;
object-fit:fill;
margin-bottom: 30rem;

}

.staff .row .picto {
    height: 20rem;
    width: 20rem;
    border-radius: 10%;
    object-fit:fill;
    margin-bottom: 10rem;
    
    }














.staff .row{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 1rem;
}
.staff .row .info{ 
    flex: 1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}
.staff .row .info h3{
    font-size: 2rem;
    color: white;
    padding:1rem 0;
    font-weight:unset;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.staff .row .info h3 span{
    color: yellow;
    padding: 0 .1rem;
    line-height: .5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.staff .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.staff .row .info .about {
    font-size: 2rem;
    color: var(--yellow);
    color: #fff;
    font-family: 'Times New Roman', Times, serif;

}

.staff .row .info .main{
    display: flex;
    background: whitesmoke;
        
    }




    .staff .row .info .space1{
        font-family:'Times New Roman', Times, serif;
        color: white;
        margin-left: 10.9rem;
    }

    .staff .row .info .space2{
        font-family:'Times New Roman', Times, serif;
        color: white;
        margin-left: 10.8rem;
    }

    .staff .row .info .space3{
        font-family:'Times New Roman', Times, serif;
        color: white;
        margin-left: 39rem;
    }

    .staff .row .info .space4{
        font-family:'Times New Roman', Times, serif;
        color: white;
        margin-left: 35rem;
    }
    .staff .row .info .space5{
        font-family:'Times New Roman', Times, serif;
        color: white;
        margin-left: 26rem;
    }

    .staff .row .info .space6{
        font-family:'Times New Roman', Times, serif;
        color: white;
        margin-left: 28rem;
    }
    .staff .row .info .space7{
        font-family:'Times New Roman', Times, serif;
        color: white;
        margin-left: 35rem;
    }








.about .row .counter .box span{
    font-size: 4rem;
    font-weight: bold;
    margin: 4rem;
    font-family: sans-serif;
    font-size: 2.3rem;
    background: yellow;
    color: black;
    border-radius: 5rem;
    padding: .5rem 2rem;
    align-content: center;
    }

    .about .row .counter .box .orga{
        width: 70rem;
        height: 20rem;
        margin: 7rem 7rem;
        margin-top: 1rem;
        margin-bottom: 0.6rem;
        align-content: center;
        font-family: 'Times New Roman', Times, serif;
        }

.about .row .counter .box h3 {
    font-size: 2rem;
    color: var(--yellow);
    color: #fff;
    margin: 4rem 6rem;
    line-height:3rem;
    text-align: justify;
    font-family:'Segoe UI' 'Open Sans', 'Helvetica Neue', sans-serif;
}

   














.education .box-container{
    display: flex;
    align-items: cente;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 1rem;
}
.education .box-container .box{
width: 53rem;
margin: 2.5rem 2rem;
padding-left: 2rem;
border-left: 1rem solid #fff;
position: relative;


}
.education .box-container .box span {
font-size: 2.3rem;
background: #222;
color: #fff;
border-radius: 5rem;
padding: .5rem 2rem;
align-content: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.education .box-container .box h3 {
font-size: 1.5rem;
color: #fff;

text-align: justify;
margin-bottom: 1rem;
padding: 3rem 1rem;
line-height: 2.5rem;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.education .box-container .box p {
font-size: 1.4rem;
color: #eee;
padding-top: 1rem 2;
}
.education .table{
font-size: 1.5rem;
margin-left: 3rem;
text-align: justify;
font-weight: bolder;
color: yellow;
}

.education .response {
font-size: 2rem;
background: white;
color: black;
border-radius: 5rem;
padding: .5rem 5rem;
align-content: center;
font-weight:bold;
margin: 1rem 1rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.education .sub {
    font-size: 1.2rem;
    font-family:sans-serif;
    color: white;
    font-style:italic;
    line-height: 2;
    
}

.education .box-container .box i {
position: absolute;
top: -1.5rem; left: -2.5rem;
height: 5rem;
width: 5rem;
border-radius: 50%;
line-height: 5rem;
text-align: center;
font-size: 2rem;
color: #fff;
background: var(--yellow);
}










.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}


.portfolio .main{
    display: flex;
    margin-bottom: 2;
    justify-content: center;
    font-size: 2rem;
    background: whitesmoke;
    color: green;
    border-radius: ;
    align-content: center;
    margin: 1rem rem;
    font-family: Impact;
        
    
}




.portfolio .box-container .box{
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.portfolio .box-container .box:hover img {
transform: scale(1.2);
}
















.contact .row {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;

}
.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row  .box {
padding: 1rem;
margin: 1rem 0;
background: #3333;
color: #fff;
text-transform: none;
font-size: 1.7rem;
width: 100%;
}
.contact .row form .message {
height: 15rem;
resize: none;
}
.contact .row .content .title {
text-transform: uppercase;
color: #fff;
font-size: 3rem;
padding-bottom: 2rem;
}
.contact .row .content .info h3 {
display: flex;
align-items: center;
font-size: 2rem;
color: #eee;
padding: 1rem 0;
font-weight: normal;
}
.contact .row .content .info h3 i {
padding-right: 1rem;
color: var(--yellow);

}






















































































